[submodule "external/unbound"]
	path = external/unbound
	url = https://github.com/FreeDomCrypto-project/unbound
	branch = FreeDomCrypto
[submodule "external/miniupnp"]
	path = external/miniupnp
	url = https://github.com/FreeDomCrypto-project/miniupnp
	branch = FreeDomCrypto
[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/Tencent/rapidjson
